@import "../../styles/colors";
@import "../../styles/vars";

.common_button {
  padding: 0.4rem 1.5rem;
  border-radius: 0.2rem;
  font-family: inherit;
  font-size: 1.5rem;
  color: white;
  text-shadow: 0 -1px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 0 rgba(0,0,0,.045);
  border: none;
  background-color: $main-button;
  cursor: pointer;
  transition: background-color .3s $bezier-show;
  
  &:focus,
  &:hover,
  &:active {
    background-color: lighten($main-button, 10%);
    outline: none;
  }
}