$bg-color:             rgb(228, 230, 253);
$main-font-color:      rgb(34, 34, 34);   
$second-font-color:    rgb(95, 95, 95);
$main-button:          rgb(24, 144, 255);
$link-color:           rgb(12, 161, 87);