@import "../../styles/vars";
@import "../../styles/colors";

.wrapper {
  min-width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.step_count {
  color: $second-font-color;
}